body{
    ;

}


.justified{
    text-align: center;
}

.color-section{
    background-color: #e8d0c6;
}

.padded-container{
    padding: 7% 10%;
}


#title .fa-xl {
    text-decoration: none;
    color: black;
    transition-duration: 300ms;
}

#title .fa-xl:hover {
    color: LightSlateGrey;
}

.left-lean {
    padding-left: 15%;
}

/* Navigation bar */

.nav-item {
    transition-duration: 300ms;
}

.nav-item:hover {
    background: #e8d0c6;
}

.nav-item:active {
    background: #e8d0c6;
}

/* Buttons */

.navbar-toggler {
    margin: 2% 0;
}

.title-btn{
    font-size: 1.2rem;
    font-weight: bold;
}

.btn{
    border: none;

}

.btn:hover{
    color: LightSlateGrey;
}

#title{
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 50vh;
    padding-top: 5%;
}

/* Icon Down */

.hover-down {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn:hover .hover-down {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(50%); }
  100% { transform: translateY(0); }
}