/* General */
html {
    scroll-padding-top: 50px;

}

body {
    font-family: 'Poppins', sans-serif;
}

.fadein {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.fadeinslow {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1{
    font-size: 4vw;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 6vw;
  }
}

h2{
    font-size: 3rem;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 1.5rem;
  }
}

.justified{
    text-align: center;
}


.padded-container{
    padding: 1% 1% 1% 7%;
}

.colour-section{
    background-color: #e8d0c6;
}


/* Navigation bar */


.nav-item {
    font-weight: bold;
    transition-duration: 300ms;
    border-radius: 5px 13px;
}

.nav-item:hover {
    background: #e8d0c6;
}

.nav-item:active {
    background: #e8d0c6;
}

.navbar-brand {
    font-weight: bold;
    transition-duration: 300ms;
    padding: 0.2%;
    border-radius: 5px 13px;
}

.navbar-brand:hover {
    background: #e8d0c6;
}



/* Title */

#title{
    padding-bottom: 5%;
    padding-top: 5%;
}

#title h1{
    font-size: 6vw;
    padding-top: 7%;

}

#title h3{
    font-size: 3vw;

}

#title .fa-xl {
    text-decoration: none;
    color: var(--bs-heading-color);
    transition-duration: 300ms;
    font-size: 2.5vw;
    padding-right: 1%;
    padding-bottom: 2%;
}

@media screen and (max-width: 800px) {
  #title .fa-xl {
    font-size: 6vw;
  }
  #title h1{
    font-size: 8vw;
  }
  #title h3{
    font-size: 4vw;
  }
}

#title .fa-xl:hover {
    color: #786962;
}

.left-lean {
    padding-left: 15%;
}

/* About Me */


#about-me{
    padding-bottom: 5%;
}


.about-me-title-container{
    padding-top: 5vw;
    padding-bottom: 2vw;
}


#about-me p {
 text-align: justify;
}

@media screen and (max-width:800px) {
    #about-me .container-fluid {
      padding: 8%;
    }
}


/* Skills */
.skill-icons {
    width: auto;
    max-height: 100px;

}

.skill-icon-container{
    border-style: solid;
    border-spacing: 20px 20px;
    border-radius: 50%;
    border-width: 1px;
    border-color: white;
    background-color: white;
    padding: 5%;
}




/* My Projects */

#my-projects {
    padding-bottom: 5%;
}

#my-projects .fluid-container{
    padding-top: 2vw;
}

#my-projects h1{
    font-size: 4vw;
}

@media screen and (max-width: 800px) {
  #my-projects h1 {
    font-size: 6vw;
  }
}

.my-projects-title-container{
    padding-top: 5vw;
    padding-bottom: 2vw;
}

.my-projects-table{
    background-color: #b9a59c;
    border-radius: 5px;
    padding: 2%;
}

.card{
    padding-top: 1%
}

#my-projects hr{
    border-top: 10px dotted white;
    width: 100%;
    margin: 2% auto;

}

/* Video */

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Contact-Me */

#contact-me {
    padding-bottom: 5%;
}

#contact-me .fluid-container{
    padding-top: 2vw;
}

.contact-me-title-container{
    padding-top: 5vw;
    padding-bottom: 2vw;
}

.form-group {
    padding-bottom: 25px;
}

.invalid-feedback{
    position: absolute;
    margin-top: 0;
    width: 10vw;
}

#contact-me button{
    margin-top: 2%;
}


.form-control:focus{
  box-shadow: 0 0 0 0.3rem rgba(232, 208, 198, 0.25);
  border-color: rgba(232, 208, 198);
  }

/* Thank you */

#thank-you{
    background-color: #e8d0c6;
    min-height: 100vh;
}




/* footer */

#footer {
padding-top: 2%;
padding-botton: 5%;
}

#footer .fa-xl {
    text-decoration: none;
    color: var(--bs-heading-color);
    transition-duration: 300ms;
    padding-right: 1%;
    padding-bottom: 2%;
}

#footer .fa-xl:hover {
    color: #786962;
}


/* Buttons */

a.title-btn{
    text-decoration: none;
    color: var(--bs-heading-color);

}

.navbar-toggler {
    margin: 2% 0;
}

.title-btn{
    font-size: 1.5vw;
    font-weight: bold;
    transition-duration: 200ms;
}

@media screen and (max-width:800px) {
    .title-btn {
      font-size: 3vw;
    }
}

.btn{
    border: none;
}



.btn:hover{
    color: #786962;
    border: none;
}


/* Title button animation */

.hover-down {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn:hover .hover-down {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(50%); }
  100% { transform: translateY(0); }
}

/* The MIT License (MIT)

Copyright (c) 2011-2022 Twitter, Inc.
Copyright (c) 2011-2022 The Bootstrap Authors

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE. */